<tr id="todo-{{ todo.id }}"
    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 cursor-pointer hover:shadow-lg"
    hx-get="{% url 'todo_detail' todo.id %}" hx-target="#modal-content" hx-swap="innerHTML"
    x-on:click="detailModalIsOpen = true">

    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        {{ todo.title }}
    </th>
    <td class="px-6 py-4">
        {{ todo.description|truncatewords:8 }}
    </td>
    <td class="px-6 py-4">
        {{ todo.remind_at|date:"F j, Y" }}
    </td>
    <td class="px-6 py-4">

    </td>
</tr>